 #logo{
    position: absolute;
    width: 50%;
    height: 75%;

    /*top: 200%;*/
    left: 25%;

} 

.wkured {
   background-color: #b01e24 !important;
}

nav {
    position: fixed;
    top: 0px;
    z-index: 1;
}
.collapsible-header{
	/*border-color: #b01e24;
	border-style: solid;*/
}

.collapsible-body{
	background-color: white;
}