/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*body {
  cursor: url(HTHassets/cursor1.png), url(cursor2.png), auto;
}*/

 /* h1{
  color: #b01e24;
} */

nav .brand-logo {
  color: #444;

}
img {
    display: block;
    margin: 5px auto;
}

/* .btn{
  
  background-color: #b01e24;
} */

nav{
  background-image: url(hero.png);
}

p {
  line-height: 2rem;
}

.wkutext{
  color: #b01e24 !important;
}

.button-collapse {
  color: #b01e24;
}
.btn-large{
  background-color: #b01e24;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer {
  margin: 0;
  background-color: #b01e24 !important;
}

button{
  /*background-color: ;*/
}

#map {
  height: 500px;
  width: 80%;
  margin: 0 auto;
}